// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100');
// Variables
//@import "variables";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/select2/src/scss/core";

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
}

.map {
  flex: 1 0;
  z-index: 10;

  &.is-hidden {
    display: none;
  }

  animation: 0.3s ease-in-out all;
}

.toolbar {
  @extend .col-10;
  position: fixed;
  z-index: 100;
  padding: 1em;
  //background: #cecece;

}

.toolbar-form {

  display: flex;
  align-items: baseline;
  margin-top: 1em;
  justify-content: flex-end;


  .filter-select {
    border-radius: 0;
    -webkit-appearance: none;
    color: #495057;
    border-right: 0;
    padding: 0 1em;
  }

}

.form-row {
  @extend .input-group;
  flex: 1 1;

  &.is-hidden {
    display: none;
  }
}

.statistics-btn {
  @extend .btn;
  @extend .btn-primary;

  color: #ffffff !important;
  margin-left: 10em;
}

.site-container {
  @extend .container-fluid;
  position: absolute;
  height: 100%;
  background: #fff;
}

.article {
  z-index: 1;
  padding-top: 5em;

  &.is-hidden {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }
}

table {
  font-size: 1.5em;

  th {
    font-family: "Open Sans", sans-serif;
  }
}

.row p {
  font-size: 1.25em;
  @extend .pt-4;
  text-align: justify;
}

span.select2 {
  flex-grow: 1;
  width: auto;
}

.select2 .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 2.4em;
  padding-top: 0.2em;
  font-family: "Open Sans", sans-serif;
}

.select2 .select2-selection .select2-selection__arrow {
  height: 2.1em;
}

.by-category, .by-category ~ .select2 {
  display: none !important;
}